<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>課題Bookers</title>
</head>
<body>
<h1>ようこそ<strong>Bookers</strong>へ！</h1>

<p>Bookersでは、さまざまは書籍に関するあなたの意見や</p>
印象を共有し交換することができます<br>
<br>
<a href="/books">start</a>

</body>
</html>
